#mapid{
    /*largo, px = pixeles
    ancho*/
    height: 400px;
    width: 50%;
    margin: 0 auto;
}
 #galeria img{
    width: 100%;
    height:500px
 }
 
#galeria .col-lg-4{
    padding: 15px;
}
#galeria img:hover {
    border: 10px solid #ffffff;
}
.slide{
    margin-top: 10px;
}
